<!-- Dashboard Actions -->
<div class="btn-group mb-4" role="group">
  <a  class="btn btn-light" [routerLink]="['/profile/create-profile']">
    <i class="fas fa-user-circle text-info mr-1"></i> Edit Profile</a
  >
  <a class="btn btn-light"  [routerLink]="['/profile/add-experience']">
    <i class="fab fa-black-tie text-info mr-1"></i>
    Add Experience</a
  >
  <a class="btn btn-light"  [routerLink]="['/profile/add-eduction']">
    <i class="fas fa-graduation-cap text-info mr-1"></i>
    Add Education</a
  >
</div>
